@model VestLivros.Models.Livro
@{
    ViewData["Title"] = "Detalhes do Livro";
}

<link href="~/css/site.css" rel="stylesheet">
<!--Component Card-->
<div class="card mb-3">
    <div class="row g-0">
        <div class="imagem col-md-4">
            <img src="@Model.ArquivoFoto" class="imagem-livro img-fluid" alt="...">
            <button type="button" class="botao-acessar btn btn-primary">Acessar PDF</button>
        </div>
        <div class="col md-8">
            <div class="card-body">
                <h5 class="titulo-livro">@Model.Nome</h5>
                <p class="card-text"><h5>Resumo da obra:</h5>@Model.Resumo</p>
                <p class="card-text"><h5>Contexto histórico e social:</h5>@Model.Contexto</p>
                <p class="card-text">
                <h5>Análise crítica:</h5></h5>@Model.AnaliseCritica</p>
                </p>
            </div>
        </div>
    </div>
</div>